# 공통
MONGODB_URI=

# seller-agent (B)
PERPLEXITY_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
SELLER_PORT_1=4001
SELLER_PORT_2=4002
SELLER_PORT_3=4003
SELLER_PORT_4=4004

# buyer-agent (C)
BUYER_PORT=3000
ONBOARDING_LIMIT=1.00
PAYMENT_SERVICE_URL=http://localhost:3001

# payment (D)
BASE_SEPOLIA_RPC=https://sepolia.base.org
BUYER_PRIVATE_KEY=
ERC3009_CONTRACT=0x036CbD53842c5426634e7929541eC2318f3dCF7e
DECISION_LOGGER_CONTRACT=
PAYMENT_PORT=3001

# contracts (A)
PRIVATE_KEY=
BASESCAN_API_KEY=
